body{
font-family: Arial;
background: linear-gradient(135deg,#4facfe,#00f2fe);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.login-box{
background:white;
padding:40px;
border-radius:10px;
box-shadow:0 0 15px rgba(0,0,0,0.2);
text-align:center;
width:300px;
}

h2{
margin-bottom:20px;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border:1px solid #ccc;
border-radius:5px;
}

button{
width:100%;
padding:10px;
background:#4facfe;
color:white;
border:none;
font-size:16px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#007bff;
}

#message{
margin-top:10px;
}